body{
    background-color: hsl(360, 100%, 20%);
}
p{
    background-color: #FF0;
}
#b1{
    background-color: #F0F;
}
#b2{
    background-color: #FF0;
}
#b3{
    background-color: #562;
}
#


b4{
    background-color: #956;
}